__pycache__

.env

.vscode

dist/

# docker build script contains sensitive information
deploy-scripts/

# cloudformation deploy script contains sensitive parameters
deploy-stack.sh

*.egg-info

.DS_Store

migrate.py